# Copy to config.env on the Linux adapter and replace every <...> value.
DEVICE_IP='<X1S_STOCK_IP>'
DEVICE_MAC='<X1S_MAC>'
ADAPTER_IP='<LINUX_ADAPTER_IP>'
LAN_IF='<LAN_INTERFACE>'
WAN_IF='<UPLINK_INTERFACE>'
FOTA_HOST='fota.komect.com'
